body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div {
    position: relative;
    width: 700px;
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heart {
    height: 300px;
    width: 300px;
    cursor: pointer;
    fill: black;
    animation: pulsar 0.1s infinite;
}

h1 {
    position: absolute;
    color: white;
    width: 224px;
    z-index: 100;
    top: 43%;
    display: none;
    animation: pulsar 0.1s infinite;
}

h2 {
    position: absolute;
    color: white;
    z-index: 100;
    top: 43%;
    font-size: 30px;
    animation: pulsar 0.1s infinite;
}

@keyframes pulsar {
    from {
        height: 300px;
        width: 300px;
        transform: rotate(0);
        /* transform: scale(0); */
    }
    to {
        height: 400px;
        width: 400px;
        transform: rotate(360deg);
        /* transform: scale(3); */
    }
    from {
        height: 300px;
        width: 300px;
        transform: rotate(0);
        /* transform: scale(0); */
    }
}